mat-card-title {
    width: 100%;
}

mat-card-subtitle {
    margin-left: 5%;
    width: 100%;
}

input {
    width: 80%;
    margin-left: 5%;
    margin-bottom: 1rem;
}

.loginContainer {
    width: 30%;
    height: 80%;
    margin-left: 35%;
    //margin-top: 5%;
}
