<form class="card-body" [formGroup]="form" (ngSubmit)="onSubmit()">
    <mat-card-title>Password recovery request</mat-card-title>
    <div class="input-field">
      <mat-card-subtitle>Email</mat-card-subtitle>
      <input formControlName="email" id="email" type="email">
      <div *ngIf="form.get('email')!.invalid && form.get('email')!.touched">
        <small *ngIf="form.get('email')!.errors!['required']">
          Required field
        </small>
        <small *ngIf="form.get('email')!.errors!['email']">
          Invalid mail address
        </small>
      </div>
    </div>
    <button mat-button [disabled]="form.invalid || form.disabled" class="btn btn-primary" type="submit">request</button>
    <div>
      {{errorRequest}}
    </div>
</form>