<input type="file" class="file-input" (change)="onFileSelected($event)" #fileUpload>
<div class="file-upload">
  {{fileName || "No file uploaded yet."}}
  <button mat-mini-fab color="primary" class="upload-btn" (click)="fileUpload.click()">
    <mat-icon>attach_file</mat-icon>
  </button>
</div>
<div class="progress">
  <div *ngIf="status==='load'">
    <mat-progress-spinner class="example-margin" [color]="'blue'" [mode]="'indeterminate'">
      "Upload media"
    </mat-progress-spinner>
  </div>
  <div *ngIf="status==='error'">
      {{errorLoad|json}}
  </div>
  <div *ngIf="status==='success'">
    File uploaded successfully
</div>
</div>