<form class="card-body" [formGroup]="form" (ngSubmit)="onSubmit()">
  <mat-card-title>Set new password</mat-card-title>
  <div class="input-field">
    <mat-card-subtitle>Email</mat-card-subtitle>
    <input formControlName="email" id="email" type="email">
    <div *ngIf="form.get('email')!.invalid && form.get('email')!.touched">
      <small *ngIf="form.get('email')!.errors!['required']">
        Required field
      </small>
      <small *ngIf="form.get('email')!.errors!['email']">
        Invalid mail address
      </small>
    </div>
  </div>
  <div class="input-field">
    <mat-card-subtitle>Verified Code</mat-card-subtitle>
    <span class="helper-text"></span>
    <input formControlName="verifiedСonfirmation" id="password" type="password">
    <div *ngIf="form.get('verifiedСonfirmation')!.invalid && form.get('verifiedСonfirmation')!.touched">
      <small *ngIf="form.get('verifiedСonfirmation')!.errors!['required']">
        Required field
      </small>
    </div>
  </div>
  <div class="input-field">
    <mat-card-subtitle>New password</mat-card-subtitle>
    <span class="helper-text"></span>
    <input formControlName="password" id="password" type="password">
    <div *ngIf="form.get('password')!.invalid && form.get('password')!.touched">
      <small *ngIf="form.get('password')!.errors!['required']">
        Required field
      </small>
      <small *ngIf="form.get('password')!.errors!['minlength']">
        Password must be at least {{form.get('password')!.errors!['minlength']['requiredLength']}} characters
      </small>
    </div>
  </div>
  <br>
  <button mat-button [disabled]="form.invalid || form.disabled" class="btn btn-primary" type="submit">Set</button>
  <pre *ngIf="errorRequest">{{errorRequest|json}}</pre>
</form>